<div class="ant-loginPanel">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form name="anticLogin" ng-submit="login()" role="form">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" ng-model="userCredentials.email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" ng-model="userCredentials.password" placeholder="Password">
                </div>

                <button type="submit" ng-disabled="anticLogin.$invalid" class="btn btn-lg btn-primary">Submit</button>

            </form>
        </div>
    </div>

</div>