<div class="row">
    <div class="col-md-6">
        <label for="tableSelection">Select a Table</label>
        <select class="form-control" name="tableSelection" id="tableSelection" ng-model="currentTableSelected" ng-change="selectTable()">
            <option ng-repeat="dataTable in tableList" value="{{dataTable.tableName}}" ng-bind="dataTable.displayName"></option>

        </select>
    </div>
    <div class="col-md-6">


        <button class="btn btn-primary btn-lg pull-right" type="button" ng-click="addRecord()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Entry</button>
    </div>

</div>

<div class="row">
    <div class="col-md-12">

        <div class="panel panel-default ant-entryTable-outer">

            <table class="table table-striped ant-entryTable table-hover">
                <caption ng-if="currentTable.dataModel.description != ''" ng-bind="currentTable.dataModel.description">
                <thead>
                    <tr>
                    <th ng-attr-id="thID-{{ tableField }}" ng-repeat="tableField in currentTable.dataModel.fieldOrder">
                        <span ng-bind="currentTable.dataModel.fields[tableField].displayName" ng-click="order(tableField)" class="ant-entryTableColHeader">></span>
                        <span ng-show="predicate===tableField" class="text-info glyphicon" ng-class="{true:'glyphicon-triangle-bottom',false:'glyphicon-triangle-top'}[reverse]"></span>
                        <span ng-show="currentTable.dataModel.fields[tableField].helpText" data-toggle="tooltip" data-placement="bottom" title="{{currentTable.dataModel.fields[tableField].helpText}}" class="text-primary glyphicon glyphicon-question-sign" aria-hidden="true" ></span>
                    </th>
                    <th id="thID-controls">
                        <div class="btn-group" role="group" aria-label="Table-level Controls">
                            <a class="btn btn-standard btn-xs" href="interface/csv.php?tableName={{ currentTableSelected }}"><span class="glyphicon glyphicon glyphicon-download-alt" aria-hidden="true"></span> Download CSV</a>
                        </div>

                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="dataRow in currentTable.data" ng-init="dataRowIndex = $index" ng-click="setRecordEditPending($index)" ng-class="recordEditPending.indexOf($index)>-1 ? 'ant-entry-editPending' : ''
">
                    <td ng-attr-headers="thID-{{ tableField }}" ng-repeat="tableField in currentTable.dataModel.fieldOrder">
                        <span class="ant-entry-fieldDisplay" ng-bind="dataRow[tableField]" ng-if="isNotForeignKey(tableField,currentTableSelected)"></span>
                        <span class="ant-entry-fieldDisplay" ng-bind="getForeignKeyDisplayFieldsForRecordField(tableField,dataRow[tableField])" ng-if="isForeignKey(tableField,currentTableSelected)"></span>
                        <input class="form-control" ng-model="dataRow[tableField]" type="text" ng-if="isNotForeignKey(tableField,currentTableSelected)" aria-label="{{tableField}}" >
                        <select class="form-control" name="select" ng-if="isForeignKey(tableField,currentTableSelected)"  ng-model="dataRow[tableField]" aria-label="{{tableField}}">
                            <option ng-repeat="fkRow in currentTable.fkdata[currentTable.dataModel.fields[tableField].foreignKeyTable]" value="{{fkRow[currentTable.dataModel.fields[tableField].foreignKeyColumns[0]]}}">{{getForeignKeyDisplayFieldsForRecordField(tableField,fkRow[currentTable.dataModel.fields[tableField].foreignKeyColumns[0]])}}</option>
                        </select>
                    </td>
                    <td headers="thID-controls">
                        <!---->
                        <div class="btn-group" role="group" aria-label="Edit Record Controls">
                            <a class="btn btn-success" aria-label="Save" ng-disabled="recordEditPending.indexOf($index)==-1" ng-click="saveRecord($index)" ng-if="recordDeletePending.indexOf($index)==-1">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                <span class="sr-only">Save</span>
                            </a>
                            <a class="btn btn-info" aria-label="Undo" ng-disabled="recordEditPending.indexOf($index)==-1" ng-click="getRecord($index)" ng-if="recordDeletePending.indexOf($index)==-1">
                                <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                                <span class="sr-only">Undo</span>

                            </a>

                            <a class="btn btn-danger" aria-label="Delete" ng-if="recordDeletePending.indexOf($index)==-1" ng-click="recordPrepareDelete($index)" >
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                <span class="sr-only">Delete</span>

                            </a>
                            <a type="button" class="btn btn-danger" aria-label="Confirm Delete" ng-click="deleteRecord($index)" ng-if="recordDeletePending.indexOf($index)!==-1" >
                                Confirm Delete
                            </a>
                        </div>


                    </td>
                </tr>


                </tbody>
            </table>


            <?php //include('reference/entryTable.html'); ?>
        </div>
    </div>

</div>
