<div ng-controller="LoginController">

    <a href="#/login/" class="btn btn-primary" ng-if="($root.userMeta == null || $root.userMeta == undefined)">Login</a>
    <div class="dropdown" ng-if="($root.userMeta !==null && $root.userMeta != undefined)">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span ng-bind="[$root.userMeta.firstName,$root.userMeta.lastName].join(' ');"></span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a data-toggle="#" ng-click="logout()">Logout</a></li>

        </ul>
    </div>

</div>