<div class="btn-group pull-right" role="group" aria-label="Edit Record Controls">
    <a class="btn btn-primary btn-lg" aria-label="Save" ng-click="editAllRecord()" ng-if="recordDeletePending.indexOf($index)==-1">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
         Back
    </a>

    <a class="btn btn-success btn-lg" aria-label="Save" ng-click="saveRecord(0)" ng-if="recordDeletePending.indexOf($index)==-1">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
         Save
    </a>

    <a class="btn btn-info btn-lg" aria-label="Undo" ng-click="getRecord(0)" ng-if="recordDeletePending.indexOf($index)==-1">
        <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
         Refresh/Undo
    </a>

</div>
