<form class="ant-entry-editPending" action="" id="ant-single-record-edit">


    <div class="ant-entry-editPending-record" ng-repeat="dataRow in currentTable.data" ng-init="dataRowIndex = $index" ng-model-options="{ debounce: 350 }" ng-click="setRecordEditPending($index)" ng-class="recordEditPending.indexOf($index)>-1 ? 'ant-entry-editPending' : ''
">
        <div class="row" ng-attr-headers="thID-{{ tableField }}" ng-repeat="tableField in currentTable.dataModel.fieldOrder" >
            <div class="col-md-2">
                <label for="{{tableField+dataRowIndex}}" >

                    <span ng-bind="currentTable.dataModel.fields[tableField].displayName"></span>
                    <span ng-show="currentTable.dataModel.fields[tableField].helpText" data-toggle="tooltip" data-placement="bottom" title="{{currentTable.dataModel.fields[tableField].helpText}}" class="text-primary glyphicon glyphicon-question-sign" aria-hidden="true" ></span>

                </label>
            </div>
            <div class="col-md-10">
                <tablefield></tablefield>
            </div>
        </div>

    </div>


</form>